# DB credentials.
# These are demo values for local development only.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=propertydb
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django credentials
DJANGO_PORT=8000
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=your_secret_key
